@use "Index" as index;

html {
  font-size: 62.5%;
}

body {
  width: 390px;
}

%btn {
  width: 325px;
  height: 54.82px;
  background: index.$dark;
  font-size: 1.6rem;
  border-radius: 8px;
  font-weight: 600;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  a {
    text-align: center;
    text-decoration: none;
    color: index.$white;
    display: block;
    padding: 14px;
    display: block;
    width: 100%;
    height: 100%;
  }
}

.skip {
  text-align: center;
  a {
    display: block;
    font-size: 1.6rem;
    text-decoration: none;
    color: index.$main_clr;
    font-weight: 700;
  }
}

.field {
  box-sizing: border-box;
  width: 325px;
  height: 56px;
  position: relative;
  background: index.$input_bg;
  border: index.$input_brdr;
  border-radius: 8px;
  font-size: 1.8rem;
  padding-left: 20px;
}

.shdw {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@each $size in index.$sizes {
  .margin-top-#{$size} {
    margin-top: $size;
  }
  .ptop-#{$size} {
    padding-top: $size;
  }
  .pbot-#{$size} {
    padding-bottom: $size;
  }
  .font-#{$size} {
    font-size: $size;
  }
}

.back-btn {
  position: relative;
  width: 50px;
  height: 50px;
  left: 33px;
  top: 60px;
  border: 1px solid #d4d8df;
  border-radius: 10px;
  background: index.$white;
  a {
    display: block;
    font-size: 4rem;
    text-decoration: none;
    text-align: center;
    color: index.$black;
    padding: 3px;
    width: 100%;
    height: 100%;
  }
}

%wrapper {
  width: 325px;
  height: 458px;
  top: 189px;
  overflow-y: scroll;
  margin: 0 auto;
  margin-top: 100px;
  background: index.$white;
  border-radius: 5px;
  padding: 20px;
}

%follow {
  text-align: center;
  position: relative;
  top: 2px;
  a {
    text-decoration: none;
    color: index.$black;
    border: 2px solid index.$main_clr;
    background: index.$white;
    border-radius: 2px;
    display: block;
  }
}

%followed {
  text-align: center;
  position: relative;
  top: 2px;
  a {
    text-decoration: none;
    color: index.$white;
    background: index.$main_clr;
    border-radius: 2px;
    display: block;
  }
}

%prof-pic {
  background: url(../../public/img/people/0.jpeg) center center / contain;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

%bg-pic {
  background-position: center center;
  background-size: cover;
  display: block;
  border-radius: 50%;
}

%prof-scroll {
  display: -webkit-box;
  flex-wrap: nowrap;
  overflow-x: scroll;
  gap: 15px;
  &::-webkit-scrollbar {
    display: none;
  }
}
