@use "Index" as index;

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
}

.btn {
  width: 325px;
  height: 54.82px;
  background: index.$dark;
  font-size: 1.6rem;
  border-radius: 8px;
  font-weight: 600;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  a {
    text-align: center;
    text-decoration: none;
    color: index.$white;
    display: block;
    margin: 0 auto;
    padding: 14px;
    display: block;
    width: 100%;
    height: 100%;
  }
}

.field {
  box-sizing: border-box;
  width: 325px;
  height: 56px;
  position: relative;
  background: index.$input_bg;
  border: index.$input_brdr;
  border-radius: 8px;
  font-size: 1.8rem;
  padding-left: 20px;
}

.shdw {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ptop100 {
  padding-top: 100px;
}

.ptop60 {
  padding-top: 60px;
}

.ptop30 {
  padding-top: 30px;
}

.ptop20 {
  padding-top: 20px;
}

.mtop100 {
  margin-top: 100px;
}

.mtop60 {
  margin-top: 60px;
}

.mtop30 {
  margin-top: 30px;
}

.back-btn {
  position: relative;
  width: 50px;
  height: 50px;
  left: 33px;
  top: 60px;
  border: 1px solid #d4d8df;
  border-radius: 10px;
  background: index.$white;
  a {
    display: block;
    font-size: 4rem;
    text-decoration: none;
    text-align: center;
    color: index.$black;
    padding: 3px;
    width: 100%;
    height: 100%;
  }
}
