@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap");

$main_clr: #40bfbf;
$sub_clr: #78dede;
$acnt_clr: #f29c8c;
$white: #f5f5f7;
$black: #1d1d1f;
$dark: #1e232c;
$gray: #d9d9d9;
$sub_gray: #6a707c;
$input_bg: #f7f8f9;
$input_brdr: 1px solid #dadada;

:root {
  font-family: "Urbanist", sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
