@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@400;700&display=swap");

$main_clr: #fd9d46;
$secondary_clr: #ffb36c;
$acnt_clr: #06aed5;
$like_clr: #f29c8c;
$sub_clr: #a95af9;
$white: #f5f5f7;
$black: #1d1d1f;
$dark: #1e232c;
$gray: #f6f6f6;
$sub_gray: #7b7d80;
$input_bg: #f7f8f9;
$input_brdr: 1px solid #dadada;

:root {
  font-family: "Urbanist", sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

$sizes: (1rem, 2rem, 3rem, 4rem, 5rem, 6rem, 7rem, 9rem, 10rem);
