@use "Asset" as asset;
@use "Index" as index;

.logo {
  width: 200px;
  height: 200px;
  position: relative;
  left: calc(50% - 200px / 2);
  border-radius: 10px;
  border: solid 1px index.$black;
  margin-top: 184px;
}

.btn {
  @extend %btn;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 100%;
  gap: 11px;
  height: 121px;

  .btn-regist {
    @extend %btn;
    background: index.$main_clr;
  }
}

.main-txt {
  font-weight: 700;
  font-size: 3rem;
  text-align: left;
  position: relative;
  top: 80px;
  width: 100%;
  padding-left: 33px;
}

.forgot {
  padding: 30px 0;
  text-align: center;
  a {
    text-decoration: underline;
    color: index.$sub_gray;
    font-size: 1.6rem;
  }
}

.input {
  position: relative;
  width: 325px;
  left: 33px;
  top: 20rem;
}

.field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 11px;
  .password-wrapper {
    display: flex;
    a {
      display: block;
      position: absolute;
      right: 2rem;
      font-size: 1.8rem;
      text-decoration: none;
      color: index.$sub_gray;
      margin-top: 1.6rem;
    }
  }
}

.topics-wrapper {
  @extend %wrapper;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  &::-webkit-scrollbar {
    display: none;
  }
  .topic-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    position: relative;
    .topic-box {
      position: relative;
      height: 100px;
      width: 100px;
      text-align: center;
      .topics {
        position: absolute;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-image: url(https://images.unsplash.com/photo-1546069901-ba9599a7e63c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Zm9vZHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
      }
      a {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        text-decoration: none;
        position: relative;
        display: block;
        color: index.$white;
        font-size: 2rem;
        font-weight: 800;
        line-height: 9rem;
        backdrop-filter: blur(0.8px);
      }
    }
  }
}

.counter {
  display: flex;
  font-weight: 700;
  font-size: 3rem;
  position: absolute;
  top: 130px;
  width: 100%;
  padding-right: 40px;
  justify-content: flex-end;
}

.user-wrapper {
  @extend %wrapper;
  .user-box {
    @extend .shdw;
    display: flex;
    padding: 5px 5px;
    width: 100%;
    height: 60px;
    border-radius: 5px;
    .user-prof-small {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: solid 1px tomato;
    }
    .user-name {
      border: solid 1px tomato;
      text-align: left;
    }
  }
}
