@use "Asset" as asset;
@use "Index" as index;

.logo {
  width: 200px;
  height: 200px;
  position: relative;
  left: calc(50% - 200px / 2);
  border-radius: 10px;
  border: solid 1px index.$black;
  margin-top: 184px;
}

.btn {
  @extend %btn;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 100%;
  gap: 11px;
  height: 121px;

  .btn-regist {
    @extend %btn;
    background: index.$main_clr;
  }
}

.main-txt {
  font-weight: 700;
  font-size: 3rem;
  text-align: left;
  position: relative;
  top: 80px;
  width: 100%;
  padding-left: 33px;
}

.forgot {
  padding: 30px 0;
  text-align: center;
  a {
    text-decoration: underline;
    color: index.$sub_gray;
    font-size: 1.6rem;
  }
}

.input {
  position: relative;
  width: 325px;
  left: 33px;
  top: 20rem;
}

.field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 11px;
  .password-wrapper {
    display: flex;
    a {
      display: block;
      position: absolute;
      right: 2rem;
      font-size: 1.8rem;
      text-decoration: none;
      color: index.$sub_gray;
      margin-top: 1.6rem;
    }
  }
}

.topics-wrapper {
  @extend %wrapper;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  &::-webkit-scrollbar {
    display: none;
  }
  .topic-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    position: relative;
    .topic-box {
      position: relative;
      height: 100px;
      width: 100px;
      text-align: center;
      .topics {
        position: absolute;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-size: cover;
        a {
          background: hsla(0, 0%, 0%, 0.3);
          backdrop-filter: blur(1px);
          border-radius: inherit;
          width: inherit;
          height: inherit;
          text-decoration: none;
          position: relative;
          display: block;
          color: index.$white;
          font-size: 2rem;
          font-family: "BIZ UDGothic", sans-serif;
          font-weight: 700;
          line-height: 9rem;
        }
      }
    }
  }
}

.counter {
  display: flex;
  font-weight: 700;
  font-size: 3rem;
  position: absolute;
  top: 130px;
  width: 100%;
  padding-right: 40px;
  justify-content: flex-end;
}

.user-wrapper {
  @extend %wrapper;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  .user-box {
    @extend .shdw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 5px 5px;
    width: 100%;
    height: 60px;
    border-radius: 5px;
    .user-prof-small {
      grid-area: 1 / 1 / 3 / 2;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      @extend .shdw;
    }
    .user-name {
      text-align: left;
      grid-area: 1 / 2 / 2 / 3;
    }
    .user-topic-wrapper {
      grid-area: 2 / 2 / 3 / 5;
      display: flex;
      gap: 10px;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      .user-topic {
        border: solid 1px index.$black;
        height: 20px;
        border-radius: 2px;
        p {
          padding: 2px 5px 0 5px;
          position: relative;
        }
      }
    }
    .follow-btn {
      grid-area: 1 / 4 / 2 / 5;
      text-align: center;
      position: relative;
      top: 2px;
      a {
        text-decoration: none;
        color: index.$black;
        border: 2px solid index.$main_clr;
        background: index.$white;
        border-radius: 2px;
        display: block;
      }
      // @extend .follow;
    }
  }
}

.start-btn {
  position: absolute;
  width: 250px;
  height: 250px;
  left: calc(50% - 250px / 2);
  top: 263px;
  background: index.$dark;
  border-radius: 50%;
  text-align: center;
  @extend .shdw;
  a {
    display: block;
    text-decoration: none;
    @extend .font-4rem;
    color: index.$white;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    position: relative;
    line-height: 23rem;
  }
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid index.$gray;
  height: 40px;
  @extend .shdw;
  h1 {
    line-height: 4rem;
  }
  .header-btn {
    display: flex;
    gap: 20px;
    a {
      text-decoration: none;
      line-height: 4rem;
    }
    .notif-btn {
      color: index.$acnt_clr;
    }
    .rank-btn {
      color: index.$main_clr;
    }
  }
}

.story-wrapper {
  padding: 10px 15px;
  width: 100%;
  height: 75px;
  display: -webkit-box;
  flex-wrap: nowrap;
  overflow-x: scroll;
  gap: 15px;
  &::-webkit-scrollbar {
    display: none;
  }
  .story {
    @extend .shdw;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    a {
      display: block;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      background-position: center center;
      background-size: cover;
    }
  }
  .main-story {
    position: relative;
    display: block;
    .main-story-btn {
      color: index.$black;
      line-height: 2.2rem;
      display: block;
      position: absolute;
      font-size: 1.5rem;
      text-align: center;
      width: 25px;
      height: 25px;
      background: index.$acnt_clr;
      border-radius: 50%;
      bottom: 0;
      right: -7px;
      border: solid 2px index.$black;
      i {
        border: solid 1px tomato;
      }
    }
  }
}

.navbar-wrapper {
  display: flex;
  position: fixed;
  bottom: 0;
  height: 60px;
  justify-content: space-between;
  border: solid 1px index.$gray;
  width: 100%;
  align-items: center;
  padding: 0 20px;
  background: index.$white;
  a {
    text-decoration: none;
    color: index.$black;
    display: block;
  }
  .upload-wrapper {
    width: 55px;
    height: 35px;
    background: index.$main_clr;
    border-radius: 5px;
    text-align: center;
    a {
      font-size: 2.5rem;
      display: block;
      line-height: 3.5rem;
      color: index.$white;
    }
  }
  .profile-wrapper {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: relative;
    @extend .shdw;
    a {
      @extend %prof-pic;
    }
  }
}

.post-wrapper {
  position: relative;
  width: 390px;
  height: 100%;
  padding-bottom: 2rem;
  background: index.$white;
  .post-header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    @extend .shdw;
    .post-user {
      display: flex;
      gap: 10px;
      align-items: center;
      .post-prof {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        @extend .shdw;
        a {
          background-size: cover;
          background-position: center center;
          display: block;
          width: inherit;
          height: inherit;
          border-radius: 50%;
        }
      }
      .post-name {
        font-size: 1.4rem;
        font-weight: 400;
      }
    }
    .post-settings {
      height: 60px;
      align-items: center;
      display: flex;
      button {
        font-size: 3rem;
        text-decoration: none;
        color: index.$main_clr;
      }
    }
  }
  .post-pics-wrapper {
    height: 460px;
    overflow-y: scroll;
    position: relative;
    overflow-y: hidden;
    &::-webkit-scrollbar {
      display: none;
    }
    .post-pics {
      display: flex;
      .pics {
        width: 390px;
        height: 460px;
        img {
          width: inherit;
          height: inherit;
          object-fit: cover;
        }
      }
    }
  }
  .post-nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    width: 100%;
    button {
      text-decoration: none;
      display: block;
      width: inherit;
      height: inherit;
      font-size: 3rem;
      color: index.$acnt_clr;
    }
    .post-save {
      display: flex;
      gap: 10px;
      p {
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 3rem;
      }
    }
    .post-btns {
      display: flex;
      gap: 15px;
      .post-like {
        button {
          color: index.$like_clr;
        }
      }
    }
  }
  .post-text {
    padding: 0px 30px 15px 30px;
    .post-main-text {
      font-size: 1.4rem;
      font-weight: 400;
    }
    .post-info-text {
      width: 330px;
      font-size: 1.2rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin: 0;
    }
  }
  .post-comment-wrapper {
    @extend .shdw;
    width: 350px;
    height: 3rem;
    border-radius: 5px;
    position: relative;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    #comment {
      padding-left: 2rem;
      font-size: 1.2rem;
      width: inherit;
      height: inherit;
    }
    #submit {
      position: absolute;
      font-weight: 600;
      right: 20px;
      top: 0;
      color: index.$main_clr;
      font-size: 1.4rem;
      line-height: 2.8rem;
    }
  }
}
