@use "Asset" as asset;
@use "Index" as index;

.logo {
  position: relative;
  width: 200px;
  height: 200px;
  left: calc(50% - 200px / 2);
  border-radius: 10px;
  border: solid 1px index.$black;
  margin-top: 184px;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  gap: 11px;
  position: relative;
  height: 121px;
  width: 100%;
  margin: 0 auto;
  align-items: center;

  .btn {
    @extend .btn;
  }

  .btn-regist {
    @extend .btn;
    background: index.$main_clr;
  }
}

.main-txt {
  font-weight: 700;
  font-size: 3rem;
  position: relative;
  width: 280px;
  height: 39px;
  left: 33px;
  top: 80px;
}

.forgot {
  padding: 30px 0;
  text-align: center;
  a {
    text-decoration: underline;
    color: index.$sub_gray;
    font-size: 1.6rem;
  }
}

.input {
  position: relative;
  width: 325px;
  left: 33px;
  top: 20rem;
}

.field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 11px;
  .password-wrapper {
    display: flex;
    a {
      display: block;
      position: absolute;
      right: 2rem;
      font-size: 1.8rem;
      text-decoration: none;
      color: index.$sub_gray;
      margin-top: 1.6rem;
    }
  }
}

.topics-wrapper {
  padding: 20px;
  display: grid;
  grid-template-columns: 100fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  width: 325px;
  height: 458px;
  top: 189px;
  overflow-y: scroll;
  background: index.$white;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 100px;
  &::-webkit-scrollbar {
    display: none;
  }
  .topic-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    .topics {
      border-radius: 50%;
      text-align: center;
      position: relative;
      height: 100px;
      width: 100px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      background: index.$black;
      a {
        position: relative;
        top: 3.2rem;
        display: block;
        color: index.$white;
        font-size: 2rem;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }
}

.skip {
  text-align: center;
  a {
    display: block;
    font-size: 1.6rem;
    text-decoration: none;
    color: index.$main_clr;
    font-weight: 700;
  }
}
