.main-profile-wrapper
  .profile-header
    .profile-name
      h2 Ramen_Baka
    .profile-setting
      button.fa-solid.fa-gear
  .profile-content
    .profile-pic
      button
    .profile-count
      .profile-posts
        p 
          span 2
          |Posts
      .profile-follower
        p 
          span 230
          |Followers
      .profile-following
        p 
          span 223
          |Following