.bookmark-save-wrapper
  .save-content
    .save-header
      .save-title
        h1 Save to
      button.fa-solid.fa-xmark.save-close
    .save-inner
      .save-create
        button New Folder
      .save-folders
        .mini-file
          .mini-file-img
            img(src="./img/food/food-recc/3.jpg", alt="")
          .mini-file-ttl
            p Nakazakicho
          .mini-file-btn
            button.fa-solid.fa-plus
        .mini-file
          .mini-file-img
            img(src="./img/food/food-recc/5.jpg", alt="")
          .mini-file-ttl
            p Shinsaibashi
          .mini-file-btn
            button.fa-solid.fa-plus
        .mini-file
          .mini-file-img
            img(src="./img/food/korean/02.jpeg", alt="")
          .mini-file-ttl
            p Tsuruhashi
          .mini-file-btn
            button.fa-solid.fa-plus