.bookmark-save-wrapper
  .save-content
    .save-header
      .save-title
        h1 Save to
      button.fa-solid.fa-xmark.save-close
    .save-inner
      .save-create
        button New Folder
      .save-folders
        .mini-file
          .mini-file-img
          .mini-file-ttl
            p Nakazakicho
          .mini-file-btn
            button.fa-solid.fa-plus