.navbar-wrapper
  .home-wrapper
    a(href="Home.html").fa-solid.fa-house.font-3rem
  .explore-wrapper
    a(href="Explore.html").fa-solid.fa-magnifying-glass.font-3rem
  .upload-wrapper
    a(href="#").fa-solid.fa-plus
  .nearby-wrapper
    a(href="Nearby.html").fa-solid.fa-location-dot.font-3rem
  .profile-wrapper
    a(href="Profile.html")