.navbar-wrapper
  .home-wrapper
    a(href="Home.html").fa-solid.fa-house
  .explore-wrapper
    a(href="Explore.html").fa-solid.fa-magnifying-glass
  .upload-wrapper
    a(href="#").fa-solid.fa-plus
  .nearby-wrapper
    a(href="Nearby.html").fa-solid.fa-location-dot
  .prof-pic-wrapper
    a(href="Profile.html")