.share-wrapper
  .share-content
    .share-header
      h1 Share to
      button.fa-solid.fa-xmark
    .share-icons-wrapper
      .icons
        a(href="#" style="background-image:url(/img/icons/line.png);")
        p Line
      .icons
        a(href="https://www.instagram.com/" style="background-image:url(/img/icons/instagram.png);")
        p Instagram
      .icons
        a(href="https://www.instagram.com/" style="background-image:url(/img/icons/instagram-stories.png);")
        p Stories
      .icons
        a(href="https://twitter.com/" style="background-image:url(/img/icons/twitter.png);")
        p Twitter
      .icons
        a(href="https://web.whatsapp.com/" style="background-image:url(/img/icons/whatsapp.png);")
        p Whatsapp
      .icons
        button(style="background-image:url(/img/icons/others.png);")
        p Others
    .download-photo
      a(href="#") Download Photo