.user-box
  .user-prof-small
  h2.user-name User
  .user-topic-wrapper
    .user-topic
      p #Topics
    .user-topic
      p #Topics
    .user-topic
      p #Topics
    .user-topic
      p #Topics
    .user-topic
      p #Topics
    .user-topic
      p #Topics
  .follow-btn
    button Follow 