.post-wrapper.margin-top-1rem
  .post-header
    .post-user
      .post-prof
        a(href="#" Style="background-image: url(../public/img/kaito/01.JPG);") 
      .post-name
        h2 Tomato_Seijin
    .post-settings
      button.fa-solid.fa-ellipsis
  .post-pics-wrapper
    .post-pics
      .pics
        img(src="img/kaito/02.jpg", alt="")
  .post-nav
    .post-save
      button.fa-regular.fa-bookmark
      p 2 Saved
    .post-btns
      .post-like
        button.fa-regular.fa-heart
      .post-comment-btn
        button.fa-solid.fa-comment
      .post-share
        button.fa-solid.fa-share
  .post-text
    .post-main-text
      h3 今日も今日とて大喰らい
    .post-info-text
  .post-button-wrapper
    input(type="text", placeholder="コメントを入力. . ." , id="comment")
    input(type="button", value="Post" ,id="submit")
