.post-wrapper.margin-top-1rem
  .post-header
    .post-user
      .post-prof
        a(href="#" Style="background-image: url(../../public/img/people/0.jpeg);") 
      .post-name
        h2 Ramen_Baka
    .post-settings
      button.fa-solid.fa-ellipsis
  .post-pics-wrapper
    .post-pics
      .pics
        img(src="img/food/noodles/01.jpeg", alt="")
      .pics
        img(src="img/food/noodles/02.jpeg", alt="")
      .pics
        img(src="img/food/noodles/03.jpeg", alt="")
      .pics
        img(src="img/food/noodles/04.jpeg", alt="")
      .pics
        img(src="img/food/noodles/05.jpeg", alt="")
  .post-nav
    .post-save
      button.fa-solid.fa-bookmark
      p 2 Saved
    .post-btns
      .post-like
        button.fa-solid.fa-heart
      .post-comment-btn
        button.fa-solid.fa-comment
      .post-share
        button.fa-solid.fa-share
  .post-text
    .post-main-text
      h3 今週ラーメン食べすぎかな！
        br
        |こちら五つの店をオススメします！
    .post-info-text
      .post-comment-wrapper
        .post-text-prof
          a(href="#" Style="background-image: url(../public/img/people/0.jpeg);") 
        p.post-comment 関目団長という店がオススメします！今週で4回まで行ってました！
  .post-button-wrapper
    input(type="text", placeholder="コメントを入力. . ." , id="comment")
    input(type="button", value="Post" ,id="submit")

