.post-wrapper.ptop-5rem
  .post-header
    .post-user
      .post-prof
        a(href="#") 
      .post-name
        h2 Name
    .post-settings
      a(href="#").fa-solid.fa-ellipsis
  .post-pics
  .post-nav
    .post-save
      a(href="#").fa-solid.fa-bookmark
    .post-saved-counter
      p 2 Saved
    .post-like
      a(href="#").fa-solid.fa-heart
    .post-comment-btn
      a(href="#").fa-solid.fa-comment
    .post-share
      a(href="#").fa-solid.fa-share
  .post-text
  .post-comment
