.post-wrapper.margin-top-1rem
  .post-header
    .post-user
      .post-prof
        a(href="#" Style="background-image: url(../../public/img/people/1.jpg);") 
      .post-name
        h2 Anne
    .post-settings
      button.fa-solid.fa-ellipsis
  .post-pics-wrapper
    .post-pics
      .pics
        img(src="img/food/rice/01.jpeg", alt="")
      .pics
        img(src="img/food/rice/03.jpeg", alt="")
  .post-nav
    .post-save
      button.fa-solid.fa-bookmark
      p 2 Saved
    .post-btns
      .post-like
        button.fa-solid.fa-heart
      .post-comment-btn
        button.fa-solid.fa-comment
      .post-share
        button.fa-solid.fa-share
  .post-text
    .post-main-text
      h3 Catchphrase
    .post-info-text
      p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  .post-comment-wrapper
    input(type="text", placeholder="コメントを入力. . ." , id="comment")
    input(type="button", value="Post" ,id="submit")
