.grid
  .grid-item
    .recc-post-pic
      img(src="img/food/food-recc/1.jpg", alt="")
    .recc-post-text
      .recc-catch
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      .recc-name
        a(href="#" Style="background-image: url(img/people/1.jpg);")
        h2 Anne
      .recc-liked
        button.fa-regular.fa-heart
        p.like-counter
          span 2 
          |Like
  .grid-item
      .recc-post-pic
        img(src="img/food/food-recc/2.jpg", alt="")
      .recc-post-text
        .recc-catch
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        .recc-name
          a(href="#" Style="background-image: url(img/people/2.jpg);")
          h2 Jake
        .recc-liked
          button.fa-regular.fa-heart
          p.like-counter
            span 2 
            |Like
  .grid-item
      .recc-post-pic
        img(src="img/food/food-recc/3.jpg", alt="")
      .recc-post-text
        .recc-catch
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        .recc-name
          a(href="#" Style="background-image: url(img/people/3.jpg);")
          h2 Troy
        .recc-liked
          button.fa-regular.fa-heart
          p.like-counter
            span 2 
            |Like
  .grid-item
      .recc-post-pic
        img(src="img/food/food-recc/4.jpg", alt="")
      .recc-post-text
        .recc-catch
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        .recc-name
          a(href="#" Style="background-image: url(img/people/4.jpg);")
          h2 Emma
        .recc-liked
          button.fa-regular.fa-heart
          p.like-counter
            span 2 
            |Like
  .grid-item
      .recc-post-pic
        img(src="img/food/food-recc/5.jpg", alt="")
      .recc-post-text
        .recc-catch
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        .recc-name
          a(href="#" Style="background-image: url(img/people/5.jpg);")
          h2 Eric
        .recc-liked
          button.fa-regular.fa-heart
          p.like-counter
            span 2 
            |Like
  .grid-item
      .recc-post-pic
        img(src="img/food/food-recc/6.jpg", alt="")
      .recc-post-text
        .recc-catch
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        .recc-name
          a(href="#" Style="background-image: url(img/people/6.jpg);")
          h2 Jim
        .recc-liked
          button.fa-regular.fa-heart
          p.like-counter
            span 2 
            |Like
  .grid-item
    .recc-post-pic
      img(src="img/food/food-recc/7.jpg", alt="")
    .recc-post-text
      .recc-catch
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      .recc-name
        a(href="#" Style="background-image: url(img/people/7.jpg);")
        h2 Kenneth
      .recc-liked
        button.fa-regular.fa-heart
        p.like-counter
          span 2 
          |Like
  .grid-item
      .recc-post-pic
        img(src="img/food/food-recc/8.jpg", alt="")
      .recc-post-text
        .recc-catch
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        .recc-name
          a(href="#" Style="background-image: url(img/people/8.jpg);")
          h2 Fabian
        .recc-liked
          button.fa-regular.fa-heart
          p.like-counter
            span 2 
            |Like
  .grid-item
      .recc-post-pic
        img(src="img/food/food-recc/9.jpg", alt="")
      .recc-post-text
        .recc-catch
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        .recc-name
          a(href="#" Style="background-image: url(img/people/9.jpg);")
          h2 Vincent
        .recc-liked
          button.fa-regular.fa-heart
          p.like-counter
            span 2 
            |Like
  .grid-item
      .recc-post-pic
        img(src="img/food/food-recc/10.jpg", alt="")
      .recc-post-text
        .recc-catch
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        .recc-name
          a(href="#" Style="background-image: url(img/people/10.jpg);")
          h2 Roy
        .recc-liked
          button.fa-regular.fa-heart
          p.like-counter
            span 2 
            |Like
  .grid-item
      .recc-post-pic
        img(src="img/food/food-recc/11.jpg", alt="")
      .recc-post-text
        .recc-catch
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        .recc-name
          a(href="#" Style="background-image: url(img/people/11.jpg);")
          h2 Suzy
        .recc-liked
          button.fa-regular.fa-heart
          p.like-counter
            span 2 
            |Like
  .grid-item
      .recc-post-pic
        img(src="img/food/food-recc/12.jpg", alt="")
      .recc-post-text
        .recc-catch
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        .recc-name
          a(href="#" Style="background-image: url(img/people/12.jpg);")
          h2 Andy
        .recc-liked
          button.fa-regular.fa-heart
          p.like-counter
            span 2 
            |Like