.recc-post-wrapper
  .recc-post-pic
  .recc-post-text
    .recc-catch
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    .recc-name
      h2 Name
    .recc-liked
      button.fa-regular.fa-heart
      p.like-counter 2 
      p likes