.story-wrapper
  .main-story.story
    a(href="#")
  .other-story.story
    a(href="#")
  .other-story.story
    a(href="#")
  .other-story.story
    a(href="#")
  .other-story.story
    a(href="#")
  .other-story.story
    a(href="#")
  .other-story.story
    a(href="#")
  .other-story.story
    a(href="#")
  .other-story.story
    a(href="#")