.trend-wrapper
  h1 🔥 Trending Users 🔥
  .trend-prof-wrapper
    .trend-prof
      a(href="#" Style="background-image: url(img/people/1.jpg);")
      .trend-texts
        h2 Anne
        p 2403 Followers
    .trend-prof
      a(href="#" Style="background-image: url(img/people/2.jpg);")
      .trend-texts  
        h2 Jake
        p 3832 Followers
    .trend-prof
      a(href="#" Style="background-image: url(img/people/3.jpg);")
      .trend-texts  
        h2 Troy
        p 4833 Followers
    .trend-prof
      a(href="#" Style="background-image: url(img/people/4.jpg);")
      .trend-texts  
        h2 Emma
        p 5831 Followers
    .trend-prof
      a(href="#" Style="background-image: url(img/people/5.jpg);")
      .trend-texts  
        h2 Eric
        p 1683 Followers
    .trend-prof
      a(href="#" Style="background-image: url(img/people/6.jpg);")
      .trend-texts  
        h2 Jim
        p 4233 Followers
    .trend-prof
      a(href="#" Style="background-image: url(img/people/7.jpg);")
      .trend-texts  
        h2 Kenneth
        p 2463 Followers
    .trend-prof
      a(href="#" Style="background-image: url(img/people/8.jpg);")
      .trend-texts  
        h2 Fabian
        p 4323 Followers