doctype html
html(lang="ja")
    head
        include _temp_p_head
        title New_User
        link(rel="stylesheet", href="css/Style.css")
    body
        section
            .back-btn
              a(href="Select_Users.html").fa-solid.fa-angle-left
        section
          .start-btn
            a(href="Home.html")  Let's Start
        include _temp_p_foot