doctype html
html(lang="ja")
  head
      include Components/_temp_p_head
      title Explore
      link(rel="stylesheet", href="css/Style.css")
  body
    include Explore/_searchbar
    include Explore/_trend_user
    include Explore/_recc_posts
    include Components/_navbar
    include Components/_temp_p_foot
    include Explore/_user_posts
    script(src="js/Home.js")
    script(src="js/Masonry.js")
    script(src="js/Counter.js") 