doctype html
html(lang="ja")
  head
      include _temp_p_head
      title New_User
      link(rel="stylesheet", href="css/Style.css")
  body
    include _searchbar
    include _trend_user
    include _recc_posts
    include _navbar
    include _temp_p_foot
    script(src="js/Home.js")
    script(src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js")
    script(src="js/Masonry.js")