doctype html
html(lang="ja")
  head
      include _temp_p_head
      title New_User
      link(rel="stylesheet", href="css/Style.css")
  body
    section
      include _searchbar
    section
      //- include
    section
      include _navbar
    include _temp_p_foot