doctype html
html(lang="ja")
  head
      include _temp_p_head
      title New_User
      link(rel="stylesheet", href="css/Style.css")
  body
    section 
      include _home_header
    section
      include _story_wrapper
    section.pbot-6rem
      include _post_wrapper_01
      include _post_wrapper_02
      include _post_wrapper_03
      include _post_wrapper_04
    section
      include _navbar
    include _temp_p_foot
    script(src="js/Home.js")