doctype html
html(lang="ja")
    head
        include _temp_p_head
        title New_User
        link(rel="stylesheet", href="css/Style.css")
    body
      section
        .header-wrapper
          h1.font-3rem Foodera
          .header-btn
            a(href="#").fa-solid.fa-bell.notif-btn.font-3rem
            a(href="#").fa-solid.fa-crown.rank-btn.font-3rem
      section
        .story-wrapper
          .main-story.story
            a(href="#")
          .other-story.story
      include _temp_p_foot