doctype html
html(lang="ja")
    head
        include Components/_temp_p_head
        title Login
        link(rel="stylesheet", href="css/Style.css")
    body
        section
            .back-btn
                a(href="Index.html").fa-solid.fa-angle-left
        section
            h1.main-txt Welcome!
        section.input
            .field-wrapper
                input(type="text" name="username" placeholder="Username").field
                .password-wrapper
                    input(type="password" name="password" placeholder="Password").field#text_password
                    a(href="#").fa-solid.fa-eye-slash#toggle_password
            .forgot
                a(href="#") Forgot Password? 
            .btn.mtop100
                a(href="Home.html") Login
        include Components/_temp_p_foot
        script(src="js/Password.js")