doctype html
html(lang="ja")
    head
        include _temp_p_head
        title Login_New
        link(rel="stylesheet", href="css/Style.css")
    body
        section
            .back-btn
                a(href="Welcome.html").fa-solid.fa-angle-left
        section
            h1.main-txt Welcome!
        section.input
            .field-wrapper
                input(type="text" name="username" placeholder="Username").field
                .password-wrapper
                    input(type="password" name="password" placeholder="Password").field
                    a(href="#").fa-solid.fa-eye-slash
            .forgot
                a(href="#") Forgot Password? 
            .btn.mtop100
                a(href="Select_Topics.html") Login
        include _temp_p_foot