doctype html
html(lang="ja")
  head
      include Components/_temp_p_head
      title Nearby
      link(rel="stylesheet", href="css/Style.css")
  body
    include Nearby/_location
    include Nearby/_loc_header
    include Nearby/_recc_nearby1
    include Nearby/_recc_nearby2
    include Nearby/_recc_nearby3
    include Nearby/_recc_nearby4
    include Nearby/_recc_nearby1
    include Nearby/_recc_nearby2
    include Nearby/_recc_nearby3
    include Nearby/_recc_nearby4
    include Components/_navbar
    include Components/_temp_p_foot
    script(src="js/Home.js")
    script(src="js/Counter.js")
    script(src="js/Location.js") 