doctype html
html(lang="ja")
    head
        include _temp_p_head
        title Login_New
        link(rel="stylesheet", href="css/Style.css")
    body
        section
            .back-btn
              a(href="Welcome.html").fa-solid.fa-angle-left
        section
            h1.main-txt Select topics!
        section
          .topics-wrapper.shdw
            .topic-container
              .topics
                p 中華
              .topics
                p 和食
            .topic-container
              .topics
                p Topic
              .topics
                p Topic
            .topic-container
              .topics
                p Topic
              .topics
                p Topic
            .topic-container
              .topics
                p Topic
              .topics
                p Topic
        .btn.mtop60
          a(href="#") Confirm
        .skip
          a(href="#") Skip
        include _temp_p_foot