doctype html
html(lang="ja")
  head
      include Components/_temp_p_head
      title Profile
      link(rel="stylesheet", href="css/Style.css")
  body
    include Profile/_main_profile
    include Profile/_level_bar
    include Components/_navbar
    include Components/_temp_p_foot