doctype html
html(lang="ja")
    head
        include _temp_p_head
        title New_User
        link(rel="stylesheet", href="css/Style.css")
    body
        section
            .back-btn
              a(href="Select_Topics.html").fa-solid.fa-angle-left
        section
            h1.main-txt Select Users!
        section
            .counter
              .counter-value 0
              .counter-max /5
        section
          .user-wrapper.shdw
            .user-box
              .user-prof-small
              h2.user-name User
              .user-topic-wrapper
                .user-topic
                  p #Topics
                .user-topic
                  p #Topics
                .user-topic
                  p #Topics  
        .btn-wrapper.ptop20
          .btn
            a(href="Select_Users.html") Confirm
          .skip.ptop20
            a(href="Select_Users.html") Skip
        include _temp_p_foot