doctype html
html(lang="ja")
    head
        include _temp_p_head
        title New_User
        link(rel="stylesheet", href="css/Style.css")
    body
        section
            .back-btn
              a(href="Welcome.html").fa-solid.fa-angle-left
        section
            h1.main-txt Select Topics!
        section
            .counter
              .counter-value 0
              .counter-max /3
        section
          .topics-wrapper.shdw
            .topic-container
              .topic-box
                .topics
                a(href="#") 洋食
              .topic-box
                .topics
                a(href="#") 和食
            .topic-container
              .topic-box
                .topics
                a(href="#") 韓国
              .topic-box
                .topics
                a(href="#") イタリア
            .topic-container
              .topic-box
                .topics
                a(href="#") タイ
              .topic-box
                .topics
                a(href="#") フレンチ
            .topic-container
              .topic-box
                .topics
                a(href="#") 中華
              .topic-box
                .topics
                a(href="#") スイーツ
            .topic-container
              .topic-box
                .topics
                a(href="#") 肉
              .topic-box
                .topics
                a(href="#") ラーメン
        .btn-wrapper.margin-top-2rem
          .btn
            a(href="Select_Users.html") Confirm
          .skip.ptop20
            a(href="Select_Users.html") Skip
        include _temp_p_foot