doctype html
html(lang="ja")
    head
        include _temp_p_head
        title New_User
        link(rel="stylesheet", href="css/Style.css")
    body
        section
            .back-btn
              a(href="Select_Topics.html").fa-solid.fa-angle-left
        section
            h1.main-txt Select Users!
        section
            .counter
              .counter-value 0
              .counter-max /5
        section
          .user-wrapper.shdw
            include _user-topic
            include _user-topic
            include _user-topic
            include _user-topic
            include _user-topic
            include _user-topic
            include _user-topic
            include _user-topic
            include _user-topic
        .btn-wrapper.margin-top-2rem
          .btn
            a(href="Confirmation.html") Confirm
          .skip.ptop20
            a(href="Confirmation.html") Skip
        include _temp_p_foot