doctype html
html(lang="ja")
  head
      include Components/_temp_p_head
      title User_Post
      link(rel="stylesheet", href="css/Style.css")
  body
    include Components/_user_posts
    //- include Components/_user_post_footer
    include Components/_temp_p_foot
    include Components/_share
    include Components/_bookmark_save
    script(src="js/Home.js")
    script(src="js/Counter.js") 
    script(src="js/SelUsers.js") 
    script(src="js/Share.js")