doctype html
html(lang="ja")
    head
        include _temp_p_head
        title Welcome
        link(rel="stylesheet", href="css/Style.css")
    body
        section
            .logo.shdw
            .btn-wrapper.margin-top-5rem
                .btn
                    a(href="Login.html") Login
                .btn-regist
                    a(href="Register.html") Register
        include _temp_p_foot