doctype html
html(lang="ja")
    head
        include _temp_p_head
        title Welcome
        link(rel="stylesheet", href="css/Welcome.css")
    body
        section
            .logo
            .btn-wrapper
                .btn
                    a(href="Login.html") Login
                .btn-regist
                    a(href="#") Register
        include _temp_p_foot