.post-wrapper.margin-top-1rem
  .post-header
    .post-user
      .post-prof
        a(href="#" Style="background-image: url(/img/people/7.jpg);") 
      .post-name
        h2 ディスカバー・ズシ
    .post-settings
      button.fa-solid.fa-ellipsis
  .post-pics-wrapper
    .post-pics
      .pics
        img(src="/img/food/04/01.JPG", alt="")
      .pics
        img(src="/img/food/04/02.JPG", alt="")
      .pics
        img(src="/img/food/04/03.JPG", alt="")
      .pics
        img(src="/img/food/04/04.JPG", alt="")
      .pics
        img(src="/img/food/04/05.JPG", alt="")
      .pics
        img(src="/img/food/04/06.JPG", alt="")
      .pics
        img(src="/img/food/04/07.JPG", alt="")
      .pics
        img(src="/img/food/04/08.JPG", alt="")
      .pics
        img(src="/img/food/04/09.JPG", alt="")
      .pics
        img(src="/img/food/04/10.JPG", alt="")
  .post-nav
    .post-save
      button.fa-regular.fa-bookmark
      p.save-counter
        span 43
        |Saved
    .post-btns
      .post-like
        button.fa-regular.fa-heart
      .post-comment-btn
        button.fa-solid.fa-comment
      .post-share
        button.fa-solid.fa-share
  .post-text
    .post-main-text
      h3 鎌倉に来たら行きたい!人気のお蕎麦屋さん5店舗まとめ
    .post-info-text
      p 
        |【逗子在住者がご紹介楽】
        |紹介した投稿が気に入ったら写真の右下にある【保存ボタン】をタップ。
        |今後も湘南の魅力を発信するのでディスカバー・ズシの【フォロー】をお願いします★
  .post-button-wrapper
    input(type="text", placeholder="コメントを入力. . ." , id="comment")
    input(type="button", value="Post" ,id="submit")
