.story-wrapper
  .main-story.story
    a(href="#" Style="background-image: url(/img/people/0.jpeg);")
      .main-story-btn.fa-solid.fa-plus
  .other-story.story
    a(href="#" Style="background-image: url(/img/people/1.jpg);")
  .other-story.story
    a(href="#" Style="background-image: url(/img/people/2.jpg);")
  .other-story.story
    a(href="#" Style="background-image: url(/img/people/3.jpg);")
  .other-story.story
    a(href="#" Style="background-image: url(/img/people/4.jpg);")
  .other-story.story
    a(href="#" Style="background-image: url(/img/people/5.jpg);")
  .other-story.story
    a(href="#" Style="background-image: url(/img/people/6.jpg);")
  .other-story.story
    a(href="#" Style="background-image: url(/img/people/7.jpg);")
  .other-story.story
    a(href="#" Style="background-image: url(/img/people/8.jpg);")