.recc-header
  ul 
    li
      button(type="button") 中華料理 
    li
      button(type="button") 和食
    li
      button(type="button") イタリアン
    li
      button(type="button") 韓国料理
    li
      button(type="button") カフェ 
    li
      button(type="button") デザート
    li
      button(type="button") タイ料理
    li
      button(type="button") インド料理