.nearby-recc-wrapper
  .recc-inner-wrapper
    a(href="#").recc-inner-content
      .recc-prof
        .recc-prof-photo(Style="background-image: url(../public/img/food/food-recc/1.jpg);")
        .recc-text
          h2 梅田　リバーカフェ
          p Cafe ・ 1千件
          p 
            |4.6km ・ ¥¥
            span ¥¥
            |・23時まで営業
      .recc-inner-photo-wrapper
        .recc-photo(Style="background-image: url(../public/img/cafe/1.jpg);")
        .recc-photo(Style="background-image: url(../public/img/cafe/2.jpg);")
        .recc-photo(Style="background-image: url(../public/img/cafe/3.jpg);")
        .recc-photo(Style="background-image: url(../public/img/cafe/4.jpg);")
