.nearby-recc-wrapper
  .recc-inner-wrapper
    a(href="#").recc-inner-content
      .recc-prof
        .recc-prof-photo(Style="background-image: url(../../public/img/food/food-recc/2.jpg);")
        .recc-text
          h2 Shop Name
          p Cafe ・ 2千件
          p 150m ・ 23時まで営業
      .recc-inner-photo-wrapper
        .recc-photo(Style="background-image: url(../../public/img/cafe/5.jpg);")
        .recc-photo(Style="background-image: url(../../public/img/cafe/6.jpg);")
        .recc-photo(Style="background-image: url(../../public/img/cafe/7.jpg);")
        .recc-photo(Style="background-image: url(../../public/img/cafe/8.jpg);")
