.nearby-recc-wrapper
  .recc-inner-wrapper
    a(href="#").recc-inner-content
      .recc-prof
        .recc-prof-photo(Style="background-image: url(/img/food/food-recc/3.jpg);")
        .recc-text
          h2 Le Petit Chef - Osaka
          p Restaurant ・ 4千件
          p 
            |1.5km ・ ¥¥
            span ¥¥
            |・ 22時まで営業
      .recc-inner-photo-wrapper
        .recc-photo(Style="background-image: url(/img/cafe/9.jpg);")
        .recc-photo(Style="background-image: url(/img/cafe/10.jpg);")
        .recc-photo(Style="background-image: url(/img/cafe/11.jpg);")
        .recc-photo(Style="background-image: url(/img/cafe/12.jpg);")
