.nearby-recc-wrapper
  .recc-header
    ul 
      li
        button(type="button") 中華料理 
      li
        button(type="button") 和食
      li
        button(type="button") イタリアン
      li
        button(type="button") 韓国料理
      li
        button(type="button") カフェ 
      li
        button(type="button") デザート
      li
        button(type="button") タイ料理
      li
        button(type="button") インド料理
  .recc-inner-wrapper
    a(href="#").recc-inner-content
      .recc-prof
        .recc-prof-photo(Style="background-image: url(../../public/img/people/5.jpg);")
        .recc-text
          h2 Shop Name
          p Cafe ・ 2千件
          p 150m ・ 23時まで営業
      .recc-inner-photo-wrapper
        .recc-photo(Style="background-image: url(../../public/img/people/6.jpg);")
        .recc-photo(Style="background-image: url(../../public/img/people/3.jpg);")
        .recc-photo(Style="background-image: url(../../public/img/people/7.jpg);")
        .recc-photo(Style="background-image: url(../../public/img/people/5.jpg);")
