.nearby-recc-wrapper
  .recc-inner-wrapper
    a(href="#").recc-inner-content
      .recc-prof
        .recc-prof-photo(Style="background-image: url(../../public/img/food/food-recc/4.jpg);")
        .recc-text
          h2 Shop Name
          p Coffee Shop ・ 3千件
          p 635m ・ 22時まで営業
      .recc-inner-photo-wrapper
        .recc-photo(Style="background-image: url(../../public/img/cafe/13.jpg);")
        .recc-photo(Style="background-image: url(../../public/img/cafe/14.jpg);")
        .recc-photo(Style="background-image: url(../../public/img/cafe/15.jpg);")
        .recc-photo(Style="background-image: url(../../public/img/cafe/16.jpg);")
