.nearby-recc-wrapper
  .recc-inner-wrapper
    a(href="#").recc-inner-content
      .recc-prof
        .recc-prof-photo(Style="background-image: url(../../public/img/food/food-recc/3.jpg);")
        .recc-text
          h2 Shop Name
          p Restaurant ・ 4千件
          p 1.5km ・ 22時まで営業
      .recc-inner-photo-wrapper
        .recc-photo(Style="background-image: url(../../public/img/cafe/9.jpg);")
        .recc-photo(Style="background-image: url(../../public/img/cafe/10.jpg);")
        .recc-photo(Style="background-image: url(../../public/img/cafe/11.jpg);")
        .recc-photo(Style="background-image: url(../../public/img/cafe/12.jpg);")
