.user-post-wrapper
  .user-post-header
    .back-btn
      button.fa-solid.fa-angle-left.btn
    .post-settings
      button.fa-solid.fa-ellipsis
  .user-post-content
    .post-pics-wrapper
      .post-pics
        .pics
          img(src="img/food/05/01.JPG", alt="")
        .pics
          img(src="img/food/05/02.JPG", alt="")
        .pics
          img(src="img/food/05/03.JPG", alt="")
        .pics
          img(src="img/food/05/04.JPG", alt="")
        .pics
          img(src="img/food/05/05.JPG", alt="")
        .pics
          img(src="img/food/05/06.JPG", alt="")
        .pics
          img(src="img/food/05/07.JPG", alt="")
        .pics
          img(src="img/food/05/08.JPG", alt="")
        .pics
          img(src="img/food/05/09.JPG", alt="")
        .pics
          img(src="img/food/05/10.JPG", alt="")
    .post-content
      .user-prof-content
        .post-prof
          a(href="#" Style="background-image: url(../public/img/people/4.jpg);") 
        .post-name
          h2 カフェ部
        .follow-btn
          button Follow 
      .user-post-prof-content
        .post-main-text
          h3 【梅田】駅から3分なのに緑豊かなナチュラルカフェ
        .post-info-text
          p 
            |デートや友達とのカフェ選びに使える
            |大阪カフェをたて列で梅田・なんば・その他のエリアで分類してカフェをご紹介
            |この投稿がいいな！と思ったら画像右下の【保存】ボタンをタップ
  .user-post-footer
    .post-nav
      .post-save
        button.fa-regular.fa-bookmark
        p.save-counter
          span 17
          |Saved
      .post-btns
        .post-like
          button.fa-regular.fa-heart
        .post-comment-btn
          button.fa-solid.fa-comment
        .post-share
          button.fa-solid.fa-share